.Comment .comment-container {
    padding: 5px;
}

.Comment .comment-header {
    margin-bottom: 10px;
}

.Comment .comment-author {
    font-weight: bold;
    font-size: 1.2em;
}

.Comment .comment-date {
    font-variant-caps: all-small-caps;
}
